@model EShopCoffee.Models.ViewModels.ForgotPasswordViewModel

@{
    ViewBag.Title = "ForgotPassword";
}
@Styles.Render("~/Content/Asset/CSS/login.css")
<div class="container shadow bg-light border ">
    <div class="row  mt-5">
        <div class="col-md-6 mt-4 mb-5 text-center">
            <div class="m-2">
                <img class="img-responsive img-log a_color " max-width="300px" src="~/Content/Asset/Images/Logo/Login1.png" alt="قهوه دوپیو">
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">


                <h3 class="mt-5">بازیابی کلمه عبور</h3>
                <hr class="hr-temp">
                <br>
                <p>سلام ! لطفا شماره موبایل یا ایمیل خود را وارد کنید.</p>
                <br>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <div class="input-group mb-2 ">
                            <div class="input-group">
                                @Html.LabelFor(model => model.User_Email, htmlAttributes: new { @class = "text-dark label" })
                            </div>
                            @Html.EditorFor(model => model.User_Email, new { htmlAttributes = new { @class = "form-control" } })

                        </div>
                        <p class="text-center">
                            @Html.ValidationMessageFor(model => model.User_Email, "", new { @class = "text-danger" })
                        </p>
                    </div>

                    <div class="form-group text-center mb-3">
                        <div class="text-center ">
                            <input type="submit" name="signin" id="signin" class="btn btn-success btn-block" value="ارسال ایمیل">
                            <a class="btn btn-info btn-block mb-5" href="\"> بارگشت به صفحه اصلی</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</div>