@model EShopCoffee.Models.ViewModels.RecoveryPasswordViewModel

@Styles.Render("~/Content/Asset/CSS/login.css")

<div class="container shadow bg-light border ">
    <div class="row  mt-5">
        <div class="col-md-6 mt-4 mb-5 text-center">
            <div class="m-2">
                <img class="img-responsive img-log a_color " max-width="300px" src="~/Content/Asset/Images/Logo/Login1.png" alt="قهوه دوپیو">
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <h3 class="mt-5">تغییر رمز عبور</h3>
                <hr class="hr-temp">
                <br>
                <p>سلام ! لطفا کلمه عبور جدید خود را وارد کنید.</p>
                <br>
                <div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <div class="form-group">
                            <div class="input-group mb-2 ">
                                <div class="input-group">
                                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "text-dark label" })
                                </div>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                            <p class="text-center">
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </p>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-2 ">
                                <div class="input-group">
                                    @Html.LabelFor(model => model.RePassword, htmlAttributes: new { @class = "text-dark label" })
                                </div>
                                @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                            <p class="text-center">
                                @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })
                            </p>
                        </div>
                        <div class="form-group text-center mb-3">
                            <div class="text-center ">
                                <input type="submit" name="signin" id="signin" class="btn btn-success btn-block" value="ثبت تغییرات">
                                <a class="btn btn-info btn-block mb-5" href="\"> بارگشت به صفحه اصلی</a>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>

</div>