@model EShopCoffee.Models.DataLayer.Blog_Post

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Blog_Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.groupId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.groupId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.post_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.post_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.post_ShortDiscription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.post_ShortDiscription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.post_Discription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.post_Discription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.post_Visit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.post_Visit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.post_datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.post_datetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.post_Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.post_Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.post_Video)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.post_Video)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Blog_Group.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Blog_Group.GroupName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
