<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doppio Cofeee Store</title>
    <link rel="shortcut icon" alt="Doppio Cofeee Store" href="~/Content/Asset/Images/Logo/Logo.png" type="image/x-icon" />

    @Styles.Render("~/Content/Asset/CSS/Index_style.css")
    @Styles.Render("~/Content/Asset/Bootstrap/css/bootstrapv4.5.3.min.css")
    @Styles.Render("~/Content/Asset/Fonts/font-awesome-4.7.0/css/font-awesome.css")
 

</head>

<body dir="rtl" style="font-family: Vazir !important">
@RenderBody()
</body>
</html>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Content/Asset/Popper/popper.min.js")
@Scripts.Render("~/Content/Asset/Jquery/jquery-2.2.4.min.js")
@Scripts.Render("~/Content/Asset/Jquery/jquery-3.2.1.slim.min.js")
@Scripts.Render("~/Content/Asset/Bootstrap/js/bootstrap4.0.0.min.js")
@Scripts.Render("~/Content/Asset/JS/CustomJs.js")
@RenderSection("scripts", required: false)