@model EShopCoffee.Models.DataLayer.Product_Groups

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product_Groups</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Group_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Groups2.Group_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Groups2.Group_Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Group_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
