@using EShopCoffee.Models.DataLayer
@model  EShopCoffee.Models.DataLayer.Product_Galllery

@{
    ViewBag.Title = "Gallery";
    List<Product_Galllery> galleriesList = ViewBag.Gallery;
}
<div class="container"> 
     @using (Html.BeginForm("Gallery", "Product_EShop", FormMethod.Post, new { enctype = "multipart/form-data" }))
     {
         @Html.AntiForgeryToken()
         @Html.HiddenFor(m => m.Product_Id)
         @Html.ValidationSummary(true, "", new { @class = "text-danger" }) 
         <div class="row" style="text-align: right;"> 
             <div class="col-lg-12"> 
                 <div class="box"> 
                     <h3 class="text-center color_defult">گالری تصاویر</h3> 
                     <hr />
                     <div>
                         <div class="form-group"> 
                             @Html.LabelFor(model => model.Gallery_Image_Title, htmlAttributes: new { @class = "text-dark label" }) 
                             @Html.EditorFor(model => model.Gallery_Image_Title, new { htmlAttributes = new { @class = "form-control" } }) 
                             <p> 
                                 @Html.ValidationMessageFor(model => model.Gallery_Image_Title, "", new { @class = "text-danger" }) 
                             </p> 
                         </div> 
 
                     </div>
                     <div id="accordionOne" class="mt-4"> 
                         <div class="card border-primary mb-3"> 
                             <div id="headingOne" class="card-header p-0 border-0"> 
                                 <h4 class="mb-0"> 
                                     <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="textalign btn btn-primary d-block text-left rounded-0">انتخاب تصویر</a> 
                                 </h4> 
                             </div> 
                             <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionOne" class="collapse show"> 
                                 <div class="card-body"> 
                                     <div class="row"> 
                                         <span class="col-lg-4 mt-5"> 
                                             <input type="file" style="margin: 10px;" id="imageProduct" name="imageProduct" /> 
                                         </span> 
                                         <sapn class="col-lg-5"> 
                                             <img id="ImgPreviewProduct" name="ImgPreviewProduct" style="margin: 10px auto; width: 150px" class="img-thumbnail" src="~/Images/ProductImages/images.png" /> 
                                         </sapn> 
                                     </div> 
                                 </div> 
                             </div> 
                         </div> 
                     </div>
                     <div class="row">
                         <div class="text-center col-lg-12 mt-3 mb-3">
                             <a href="@Url.Action("Index")" class="btn btn-danger w-25">
                                 <i class="fa fa-arrow-left"> </i>بازگشت
                             </a>
                             <button type="submit" class="btn btn-primary w-25"><i class="fa fa-save"></i>ذخیره</button>
                         </div>
                     </div>
                     <div id="accordionTow" class="mt-4"> 
                         <div class="card border-primary mb-3"> 
                             <div id="headingTow" class="card-header p-0 border-0"> 
                                 <h4 class="mb-0"> 
                                     <a href="#" data-toggle="collapse" data-target="#collapseTow" aria-expanded="true" aria-controls="collapseTow" class="textalign btn btn-primary d-block text-left rounded-0">گالری تصاویر</a> 
                                 </h4> 
                             </div> 
                             <div id="collapseTow" aria-labelledby="headingTow" data-parent="#accordionTow" class="collapse show"> 
                                 <div class="card-body"> 
                                     <div class="row">
                                         <div class="table-responsive">
                                             <table class="table table-hover text-center">
                                                 <thead>
                                                     <tr>
                                                         <th></th>
                                                         <th>تصویر</th>
                                                         <th>عنوان</th>
                                                     </tr>
                                                 </thead>
                                                 <tbody>
                                                     @foreach (var image in galleriesList)
                                                     {
                                                         <tr>
                                                             <td>
                                                                 <a href="/Admin/Product_EShop/DeleteGallery/@image.Gallery_Id" title="ویرایش محصول" class="btn btn-block btn-sm btn-danger btn-sm">
                                                                     <i class="fa fa-trash"></i>
                                                                 </a>
                                                             </td>
                                                             <td>
                                                                 <img style="width: 100px" class="img-thumbnail" src="~/Images/ProductImages/Thumbnail/@image.Gallery_Image_Name" />
                                                             </td>
                                                            
                                                             <th>@image.Gallery_Image_Title</th>
                                                         </tr>
                                                     }

                                                 </tbody>
                                             </table>
                                         </div>
                                     </div> 
                                 </div> 
                             </div> 
                         </div> 
                     </div>
                   
                 </div> 
             </div>
         </div> 
     } 
 </div> 
@section scripts
{
    <script>
        $('document').ready(function () {
            $("#imageProduct").change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#ImgPreviewProduct').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(this.files[0]);
                }
            });
        });
    </script>
}
<style>
    input[type="file"]::file-selector-button {
        border: 2px solid #4FBFA8;
        padding: 0.2em 0.4em;
        border-radius: 0.2em;
        background-color: #4FBFA8;
        transition: 1s;
        color: #ffff
    }

    input[type="file"]::file-selector-button:hover {
        background-color: #3EAA94;
        border: 2px solid #3EAA94;
    }
</style>