@using MyShop.Utilities
@model IEnumerable<EShopCoffee.Models.DataLayer.Product_EShop>

@{
    ViewBag.Title = "Index";
}

<div id="customer-orders" class="container">
    <div class="box">
        <h1 class="text-center">محصولات</h1>
        <hr/>
        <div class="text-center mb-3">
            <a href="@Url.Action("RemoveProductsList")" class="btn btn-danger">
                محصولات حذف شده
                <i class="fa fa-trash"></i>
            </a>
            <a href="@Url.Action("Create")" class="btn  btn-primary">
                افزودن محصول جدید
                <i class="fa fa-plus-circle"></i>
            </a>
        </div>
        <div class="table-responsive">
            <table class="table table-hover text-center">
                <thead>
                <tr>
                    <th>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product_Is_Delete)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product_IsInStock)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product_ImageName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product_CreateDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Product_Price)
                    </th>
                    <th>

                        @Html.DisplayNameFor(model => model.Product_Count)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Proudct_Title)
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Edit", new { id = item.Product_Id })" title="ویرایش محصول" class="btn btn-block btn-sm btn-warning btn-sm">

                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="@Url.Action("Gallery", new { id = item.Product_Id })" title="گالری محصول" class="btn btn-block btn-sm btn-info btn-sm">

                                <i class="fa fa-photo"></i>
                            </a>
                            <a href="@Url.Action("ProductProperty", new { id = item.Product_Id })" title="ویژگی های محصول" class="btn btn-block btn-sm btn-primary btn-sm">
                                <i class="fa fa-info-circle"></i>
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product_Is_Delete)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product_IsInStock)
                        </td>
                        <td>
                            <img style="width: 100px" class="img-thumbnail" src="~/Images/ProductImages/Thumbnail/@item.Product_ImageName"/>
                        </td>
                        <td>
                            @item.Product_CreateDate.ToShamsi()
                        </td>
                        <td>
                            @item.Product_Price.ToString("##,###")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product_Count)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Proudct_Title)
                        </td>

                    </tr>
                }

                </tbody>
            </table>
        </div>
    </div>
</div>