@using EShopCoffee.Models.DataLayer
@model IEnumerable<Product_EShop>

@{
    ViewBag.Title = "Archive";
    List<Product_Groups> groupsList = ViewBag.groups;
    List<int> selected = ViewBag.selectGroup ?? new List<int>();
}


<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <form action="/ArchiveProduct" id="filterform">
                    
                    <div class="card sidebar-menu mb-4">
                        <div class="card-header text-center">
                            <h3 class="h4 card-title">جستجو پیشرفته</h3>
                        </div>
                        <div class="m-4">
                            <button class="btn btn-block btn-primary" type="submit">اعمال فیلتر</button>
                            <a href="/ArchiveProduct?pageId=1&sortBy=LastProduct&title=&minPrice=0&maxPrice=0&minPrice=0&maxPrice=0" class="btn btn-block btn-danger">حذف فیلتر</a>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <input type="hidden" value="@ViewBag.pageId" id="pageId" name="pageId"/>
                                <div class="products-sort-by text-center mt-2 mt-lg-0">
                                    <label class="textalign w-100 m-1">
                                        مرتب‌سازی بر اساس
                                    </label>
                                    <select onchange="Selectvalue()" name="sortBy" class="form-control sort">
                                        <option value="LastProduct" @((ViewBag.sortBy == "LastProduct") ? "selected" : "")> آخرین محصولات</option>
                                        <option value="LowPrice" @((ViewBag.sortBy == "LowPrice") ? "selected" : "")>ارزانترین</option>
                                        <option value="HightPrice" @((ViewBag.sortBy == "HightPrice") ? "selected" : "")>گرانترین</option>
                                        <option value="Offer" @((ViewBag.sortBy == "Offer") ? "selected" : "")>بیشترین تخفیف</option>
                                    </select>
                                </div>
                                <div>
                                    <label class="textalign w-100 m-1">
                                        عنوان
                                        <input type="text" name="title" value="@ViewBag.productTitle" class="form-control mt-1"/>
                                    </label>
                                </div>
                                <p class="textalign m-1">فقط کالاهای موجود</p>
                                <div class="switch-box ">
                                    <input type="checkbox" onchange="onchangeProductCount()" id="productCount" name="productCount" @((ViewBag.productCount != "") ? "checked" : "")  class="form-control mt-1"/>
                                    <ul>
                                        <li class="on"></li>
                                        <li class="off"></li>
                                    </ul>
                                </div>

                                <div>
                                    <div class="range-slider">
                                        <input name="minPrice" min="0" max="50000000" step="10000" value="@ViewBag.minPrice" type="range" class="mt-3 font-weight-light"/>
                                        <input name="maxPrice" min="0" max="50000000" step="10000" value="@ViewBag.maxPrice" type="range" class="mt-3 font-weight-light"/>
                                        <span class="mb-4 d-block w-100">
                                            <label class="textalign w-100 m-1">
                                                بازه قیمت به تومان
                                                <input type="number" name="minPrice" value="@ViewBag.minPrice" min="0" max="50000000" class="w-100"/>
                                                <input type="number" name="maxPrice" value="@ViewBag.maxPrice" min="0" max="50000000" class="w-100"/>
                                            </label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-header m-1">
                            <h3 class="h4 card-title text-center">دسته بندی</h3>
                        </div>
                        <div class="card-body">
                            <ul class="nav nav-pills flex-column category-menu" style="padding-right: 7px">
                                <li>
                                    @foreach (var headGroups in groupsList.Where(g => g.Parent_Id == null))
                                    {
                                        <div class="form-group textalign bg-primary nav-link text-light bg-primary">
                                            <label for="chexbox+@headGroups.Group_Id">@headGroups.Group_Title</label>
                                            <input name="selectGroup" type="checkbox" @((selected.Any(s => s == headGroups.Group_Id)) ? "checked" : "") value="@headGroups.Group_Id" id="chexbox+@headGroups.Group_Id">
                                        </div>
                                        if (groupsList.Any(g => g.Parent_Id == headGroups.Group_Id))
                                        {
                                            <ul class="list-unstyled">
                                                @foreach (var subGroups in groupsList.Where(g => g.Parent_Id == headGroups.Group_Id))
                                                {
                                                    <li class="textalign m-2">

                                                        <div class="form-group m-2 textalign">
                                                            <label for="chexbox+@subGroups.Group_Id">@subGroups.Group_Title</label>
                                                            <input name="selectGroup" type="checkbox" @((selected.Any(s => s == subGroups.Group_Id)) ? "checked" : "") value="@subGroups.Group_Id" id="chexbox+@subGroups.Group_Id">
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    }
                                </li>
                            </ul>
                        </div>
                        <hr class="hr-articl"/>
                    </div>
                </form>
                <div class="banner">
                    <a href="#">
                        <img src="~/Content/SiteFile/img/logo.png" alt="sales 2014" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    @if (!String.IsNullOrEmpty(ViewBag.search))
                    {
                        <header>
                            <h3> تعداد @Model.Count() محصول با کلمه @ViewBag.search یافت شد </h3>
                        </header>
                    }

                    @foreach (var item in Model)
                    {
                        @Html.Partial("_ProductArchive", item)
                    }
                </div>
                @if (ViewBag.pagecount > 1)
                {
                    <hr/>
                    <div class="pages">
                        <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a onclick="ChangPage(1)" aria-label="Next" class="page-link">
                                        <span aria-hidden="true">»</span><span class="sr-only"></span>
                                    </a>
                                </li>
                                @for (int i = 1; i <= ViewBag.pagecount; i++)
                                {
                                    <li class="page-item @((i == ViewBag.pageId) ? "active" : "")">
                                        <a onclick="ChangPage(@i)" class="page-link">@i</a>
                                    </li>
                                }
                                <li class="page-item">
                                    <a onclick="ChangPage(@ViewBag.pagecount)" aria-label="Next" class="page-link">
                                        <span aria-hidden="true">»</span><span class="sr-only"></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                }

            </div>

        </div>
    </div>
</div>

@section scripts
{
    <script>
        (function () {
            var parent = document.querySelector(".range-slider");
            if (!parent) return;

            var rangeS = parent.querySelectorAll("input[type=range]"),
                numberS = parent.querySelectorAll("input[type=number]");

            rangeS.forEach(function (el) {
                el.oninput = function () {
                    var slide1 = parseFloat(rangeS[0].value),
                        slide2 = parseFloat(rangeS[1].value);

                    if (slide1 > slide2) {
                        [slide1, slide2] = [slide2, slide1];
                        // var tmp = slide2;
                        // slide2 = slide1;
                        // slide1 = tmp;
                    }

                    numberS[0].value = slide1;
                    numberS[1].value = slide2;
                };
            });

            numberS.forEach(function (el) {
                el.oninput = function () {
                    var number1 = parseFloat(numberS[0].value),
                        number2 = parseFloat(numberS[1].value);

                    if (number1 > number2) {
                        var tmp = number1;
                        numberS[0].value = number2;
                        numberS[1].value = tmp;
                    }

                    rangeS[0].value = number1;
                    rangeS[1].value = number2;
                };
            });
        })();
        function ChangPage(PgId) {
            $("#pageId").val(PgId);
            $("#filterform").trigger("submit");
        }
        function ClearFilter(){
            $("#pageId").val(1);
            $("#filterform").trigger("submit");
        }
        function Selectvalue() {
            $("#filterform").trigger("submit");
        }
    </script>
}