@using EShopCoffee.Models.DataLayer
@using MyShop.Utilities

@model IEnumerable<EShopCoffee.Models.DataLayer.Product_Comments>

@foreach (var comment in Model.Where(c => c.Parent_Id == null))
{
    <hr/>
    <li style="" class="p-3 li-style">
        <div class="comment">
            <div>
                <span>
                    <img  src="~/Images/UserImge/@comment.UserImage" alt="@comment.Email" class="img-thumbnail rounded-circle comment-img mb-1">
                </span>
                <span class="m-4">
                    @comment.Name
                </span>
                <a class="nav-link mt-1 replay d-inline" style="cursor: pointer" onclick="ReplayComment(@comment.Comment_Id)"><i class="fa fa-reply"></i>پاسخ</a>
                <span class="posted mr-5 datespan" ><i class="fa fa-clock-o"></i> تاریخ : @comment.CommentDate.ToShamsi()</span>
               
                <p class="comment-show" style="">@comment.Comment</p>
            </div>
        </div>

        @if (Model.Any(c => c.Parent_Id == comment.Comment_Id))
        {
            foreach (var subComment in Model.Where(c => c.Parent_Id == comment.Comment_Id))
            {
                <ul>
                    <li style="" class="p-3 usb-li-style">
                        <div class="comment">
                            <div>
                                <span>
                                    <img  src="~/Images/UserImge/@comment.UserImage" alt="@comment.Email" class="img-thumbnail rounded-circle comment-img mb-1">
                                </span>
                                <span class="m-4">
                                    @comment.Name
                                </span>
                                <span class="posted  datespan" ><i class="fa fa-clock-o"></i> تاریخ : @comment.CommentDate.ToShamsi()</span>
               
                                <p class="comment-show" style="">@comment.Comment</p>
                            </div>
                        </div>
                    </li>
                </ul>
            }
        }
    </li>
    <hr/>
}