@model EShopCoffee.Models.DataLayer.Users

@{
    ViewBag.Title = "Edit";
    var rolesId = ViewBag.User_Role_Id;
}

<h4 class="text-center font-weight-bold mt-4">ویرایش کابر جدید</h4>
<hr />
@using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
   
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model=>model.User_Id)
        @Html.HiddenFor(model=>model.User_Password)
        @Html.HiddenFor(model=>model.User_Active_Code)
        @Html.HiddenFor(model=>model.User_RegisterDate)
        @Html.HiddenFor(model=>model.User_Image)
        <div class="form-group">
            <div class="input-group mb-3 ">
                <div class="input-group-prepend ">
                    @Html.LabelFor(model => model.User_Role_Id, htmlAttributes: new { @class = "input-group-text Bg-backgrund text-light label" })
                </div>
                @Html.DropDownList("User_Role_Id", null, htmlAttributes: new { @class = "form-control" })
            </div>
            <p class="text-center">
                @Html.ValidationMessageFor(model => model.User_Role_Id, "", new { @class = "text-danger " })
            </p>
        </div>
        <div class="form-group">
            <div class="input-group mb-3 ">
                <div class="input-group-prepend ">
                    @Html.LabelFor(model => model.User_Name, htmlAttributes: new { @class = "input-group-text Bg-backgrund text-light label" })
                </div>
                @Html.EditorFor(model => model.User_Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <p class="text-center">
                @Html.ValidationMessageFor(model => model.User_Name, "", new { @class = "text-danger" })
            </p>
        </div>
        <div class="form-group">
            <div class="input-group mb-3 ">
                <div class="input-group-prepend ">
                    @Html.LabelFor(model => model.User_Email, htmlAttributes: new { @class = "input-group-text Bg-backgrund text-light label" })
                </div>
                @Html.EditorFor(model => model.User_Email, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <p class="text-center">
                @Html.ValidationMessageFor(model => model.User_Email, "", new { @class = "text-danger" })
            </p>
        </div>
        <div class="form-group">
            <div class="input-group mb-3 ">
                <div class="input-group-prepend ">
                    @Html.LabelFor(model => model.User_Phone, htmlAttributes: new { @class = "input-group-text Bg-backgrund text-light label" })
                </div>
                @Html.EditorFor(model => model.User_Phone, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <p class="text-center">
                @Html.ValidationMessageFor(model => model.User_Phone, "", new { @class = "text-danger" })
            </p>
        </div>
        <div class="form-group">
            <div class="input-group mb-3 col-md-12  ">
                <div class="col-md-6">
                    <label class="input-group-text Bg-backgrund text-light label">
                        <div class="form-group form-check text-center mt-2">
                            @Html.EditorFor(model => model.User_IsActive, new { @class = "checkbox" })
                            @Html.LabelFor(model => model.User_IsActive, new { @class = "form-check-label" })
                        </div>
                    </label>
                    <p class="text-center">
                        @Html.ValidationMessageFor(model => model.User_IsActive, "", new { @class = "text-danger" })
                    </p>
                </div>
                <div class="col-md-6">
                  
                </div>

            </div>
        </div>
        <div class="form-group">
            <div class="card text-white  mb-3">
                <div class="card-header Bg-backgrund">انتخاب تصویر</div>
                <div class="card-body">
                    <div style="margin: 10px auto;" class="col-md-12">
                        <span class="offset-2 col-md-4">
                            <input type="file" style="margin: 10px;" id="imageProduct" name="imageProduct" />
                        </span>
                        <sapn class="col-md-8">
                            <img id="ImgPreviewProduct" name="ImgPreviewProduct" style="margin: 10px auto; max-width: 300px" class="img-thumbnail" src="~/Images/UserImge/@Model.User_Image" />
                        </sapn>
                    </div>
                </div>
            </div>
            <p class="text-center">
                @Html.ValidationMessageFor(model => model.User_Image, "", new { @class = "text-danger" })
            </p>
        </div>
        <div class="form-group text-center">
            <div class="text-center">
                <button type="submit" title="ذخیره" class="btn bg-success  btn-block">
                    <i class="fa fa-save fa-2x text-light"></i>
                </button>
                <a href="@Url.Action("Index")" class="btn btn-info btn-block" title="بازگشت">
                    <i class="fa fa-arrow-circle-left fa-2x text-light"></i>
                </a>
            </div>
        </div>
    </div>
}

@section script
{
    <script>


        CKEDITOR.replace('Product_Discription');

        $('document').ready(function () {
            $("#imageProduct").change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#ImgPreviewProduct').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(this.files[0]);
                }
            });
        });
    </script>
}