@using EShopCoffee.Models.DataLayer
@model EShopCoffee.Models.DataLayer.Users

@{
    EShopCoffe_DBEntities coffeDbEntities = new EShopCoffe_DBEntities();
    ViewBag.Title = "Edit";
    var rolesId = ViewBag.User_Role_Id;
    var stateList = coffeDbEntities.tblOstan.ToList();
    var cityList = coffeDbEntities.tblShahrestan.ToList();


}
<div class="container">
    @using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.User_Id)
        @Html.HiddenFor(model => model.User_Password)
        @Html.HiddenFor(model => model.User_Active_Code)
        @Html.HiddenFor(model => model.User_RegisterDate)
        @Html.HiddenFor(model => model.User_Image)
        <div class="row textalign">
            <div class="col-lg-12">
                <div class="box">
                    <h3 class="text-center color_defult">افزودن محصول</h3>
                    <hr />
                    <div id="accordionOne" class="mt-4">
                        <div class="card border-primary mb-3">
                            <div id="headingOne" class="card-header p-0 border-0">
                                <h4 class="mb-0">
                                    <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="textalign btn btn-primary d-block text-left rounded-0">انتخاب تصویر</a>
                                </h4>
                            </div>
                            <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionOne" class="collapse show">
                                <div class="card-body">
                                    <div class="row">
                                        <span class="col-lg-4 mt-5">
                                            <input type="file" style="margin: 10px;" id="imageProduct" name="imageProduct" />
                                        </span>
                                        <sapn class="col-lg-5">
                                            <img id="ImgPreviewProduct" name="ImgPreviewProduct" style="margin: 10px auto; max-width: 200px" class="img-thumbnail" src="~/Images/UserImge/@Model.User_Image" />
                                        </sapn>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            @Html.LabelFor(model => model.User_Email, htmlAttributes: new { @class = "text-dark label" })
                            @Html.EditorFor(model => model.User_Email, new { htmlAttributes = new { @class = "form-control" } })
                            <p>
                                @Html.ValidationMessageFor(model => model.User_Email, "", new { @class = "text-danger" })
                            </p>
                        </div>
                        <div class="form-group col-lg-6">
                            @Html.LabelFor(model => model.User_Name, htmlAttributes: new { @class = "text-dark label" })
                            @Html.EditorFor(model => model.User_Name, new { htmlAttributes = new { @class = "form-control" } })
                            <p>
                                @Html.ValidationMessageFor(model => model.User_Name, "", new { @class = "text-danger" })
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <br />
                            <br />
                            @Html.LabelFor(model => model.User_IsActive, htmlAttributes: new { @class = "text-dark label" })
                            @Html.EditorFor(model => model.User_IsActive, new { @class = "checkbox ml-4" })
                            <p>
                                @Html.ValidationMessageFor(model => model.User_IsActive, "", new { @class = "text-danger" })
                            </p>
                        </div>
                        <div class="form-group col-lg-6">
                            @Html.LabelFor(model => model.User_Phone, new { @class = "text-dark label" })
                            @Html.EditorFor(model => model.User_Phone, new { htmlAttributes = new { @class = "form-control" } })
                            <p>
                                @Html.ValidationMessageFor(model => model.User_Phone, "", new { @class = "text-danger" })
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">

                        </div>
                        <div class="form-group col-lg-6">
                            <label> :دسترسی کاربر</label>
                            @Html.DropDownList("User_Role_Id", null, htmlAttributes: new { @class = "form-control" })
                            <p class="text-center">
                                @Html.ValidationMessageFor(model => model.User_Role_Id, "", new { @class = "text-danger " })
                            </p>
                        </div>
                    </div>
                    <hr />
                    <h5 class="text-center color_defult">آدرس</h5>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="text-dark label">شهر</label>
                            <select name="User_City_ID" id="city" class="form-control">
                                @foreach (var city in cityList)
                                {
                                    <option></option>
                                    <option parent="@city.OstanID" @((city.OstanID == Model.User_State_ID) ? "select" : "") value="@city.id">@city.Shahrestan</option>
                                }
                            </select>

                        </div>
                        <div class="form-group col-lg-6">
                            <label class="text-dark label">استان</label>
                            <select name="User_State_ID" id="state" class="form-control">
                                @foreach (var state in stateList)
                                {
                                    <option @((state.id == Model.User_State_ID) ? "selected" : "") value="@state.id">@state.Ostan</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            @Html.LabelFor(model => model.User_Address, htmlAttributes: new { @class = "text-dark label" })
                            @Html.TextAreaFor(model => model.User_Address, htmlAttributes: new { @class = "form-control" })
                            <p>
                                @Html.ValidationMessageFor(model => model.User_Address, "", new { @class = "text-danger" })
                            </p>
                        </div>
                        <div class="form-group col-lg-6">
                            @Html.LabelFor(model => model.User_Postal_Code, htmlAttributes: new { @class = "text-dark label" })

                            @Html.EditorFor(model => model.User_Postal_Code, new { htmlAttributes = new { @class = "form-control" } })
                            <p>
                                @Html.ValidationMessageFor(model => model.User_Postal_Code, "", new { @class = "text-danger" })
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center col-lg-12 mt-3 mb-3">
                            <a href="@Url.Action("Index")" class="btn btn-danger w-25">
                                <i class="fa fa-arrow-left"> </i>بازگشت
                            </a>
                            <button type="submit" class="btn btn-primary w-25"><i class="fa fa-sign-in"></i>ثبت</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section scripts
{
    <script>

        $('document').ready(function () {
            $("#imageProduct").change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#ImgPreviewProduct').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(this.files[0]);
                }
            });
        });
        $(document).ready(function () {
            var stateId = $("#state").val();
            $("#city option").each(function () {
                if ($(this).attr("parent") == stateId) {
                    $(this).css("display", "block");
                } else {
                    $(this).css("display","none");
                }
                
            });
        });
        $('#state').on('change', function () {
            var stateId = $("#state").val();
            $("#city option").each(function () {
                if ($(this).attr("parent") == stateId) {
                    $(this).css("display", "block");
                } else {
                    $(this).css("display", "none");
                }

            });
        });
    </script>

}