@model  EShopCoffee.Models.ViewModels.ChangPasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="container">
        <div class="row">
          
            <div class="col-lg-12">
                <div class="box">
                    @if (ViewBag.Success == true)
                    {
                        <div class="alert alert-success mt-1 text-center">
                            کلمه عبور شما با موفقیت تغییر کرد.
                        </div>
                    }
                    <h3 class="text-center color_defult">تغییرکلمه عبور</h3>
                    <hr/>
                    <div class="col-lg-12 text-center">
                        <div dir="rtl">
                            <img class="img-thumbnail rounded-circle bg-light" width="150px" max-width="150px" src="~/Content/SiteFile/img/LogoEN.png" alt="قهوه دوپیو">
                            <p class="mt-2 font-weight-bolder"> لطفا اطلاعات خود را وارد کنید.</p>
                        </div>
                    </div>

                    <hr>

                    <div class="form-group textalign">
                        @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "text-dark label" })
                        @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                        <p class="text-center">
                            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                        </p>
                    </div>
                    <div class="form-group textalign">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "text-dark label" })
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        <p class="text-center">
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </p>
                    </div>
                    <div class="form-group textalign">
                        @Html.LabelFor(model => model.RePassword, htmlAttributes: new { @class = "text-dark label" })
                        @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = "form-control" } })
                        <p class="text-center">
                            @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })
                        </p>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-user"></i>تغییر رمز</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}